/* CSS files add styling rules to your content */
body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
  touch-action: manipulation;
}

h1 {
  font-style: italic;
}

a {
  color: #4f37ff;
}

a:hover {
  color: #373fff;
}

#footer {
  margin-top: 2em;
}

#footer p {
  font-size: .9em;
  font-style: italic;
}

#board {
  display:table;
  display:table-cell;
  vertical-align:middle;
}

.sound-pad {
  width: 30%;
  padding-bottom: 20%;
  color: white;
  background-color: #a950ff;
  border: 1px solid #ffffff;
}

.sound-pad:hover {
  background-color: #e75dff;
  cursor: pointer;
}